<!DOCTYPE html>
<html>
<head>
  <title>PhotoGallery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-inverse">
       <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Photo Gallery</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path %></li>
          <% @categoryNav.each do |category| %>
	      <li><%= link_to category.name, category_path(category.id) %></li>
	  <% end %>      
	  <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">Category One</a></li>
            <li><a href="#contact">Category Two</a></li>
          </ul>
	  <ul class="nav navbar-nav pull-right">
	  <li><%= link_to "Upload Photo", upload_path %></li>
	  <li><%= link_to "Add Category", new_category_path %></li>
	  </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <section>
      <div class="container">
	 <% if flash[:notice] %>
	    <div class="alert alert-success"><%= flash[:notice] %></div>
         <% end %>
         <% if flash[:alert] %>
	    <div class="alert alert-danger"><%= flash[:alert] %></div>
         <% end %>
         <%= yield %>
      </div><!-- /.container -->
    </section>
   <footer>
       <p>Copyright &copy; 2016, Photo Gallery</p>
   </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/lightbox.js"></script>
</body>
</html>
